body {
  background-color: #ffb51482;
  margin: 0;
  padding: 0;
}
h1{
  color: #9e5190;
}
a{
  color: white;
  font-family: avenir;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: orange;
}
p{
  font-family: avenir;
  font-size: 16px;
}
.nav{
  background-color: rgba(0,0,0,0.5);
  height: 80px;
  position: relative;
  display: flex;
  justify-content: flex-end;

}
li{
  list-style-type: none;
  display: inline;
  float: right;
  font-size: 20px;
  padding: 30px;
  margin-top: -30px;
}
